* {
  font-family:serif ariel;
  color: purple;
  text-align: center;
  text-family: serif ariel;
  
  
}
body{background-color:#EDEDED;}
table {
  margin:0 auto;
  border-collapse: collapse;
  
}
th, td  { background-color:#E3C9FF;
  border:3px solid;
  
}
nav ul{
  display:flex;
  justify-content: center;
  list-style:none;
}
nav a{
  margin: 20px ;
  text-decoration:none;
  
}
nav {
  margin:20;
  background: #E3C9FF;
width:100%;
top:0;}
