*{text-align: center;
  margin:40;
  font-family:serif ariel;
}
body{
  background-color:#EDEDED;}
table{
  margin: auto;
  border:2px solid black;
  border-collapse: collapse;
}
td, th {border:2px solid black;}
nav {
  position: fixed;
  top: 0;
  background: grey;
  width: 100%;
  margin:1px;
  
  
} 
nav ul{
  display: flex;
  gap:30px;
    justify-content: center;
  list-style:none;
  margin:1px;
}
nav a{
  color: white;
  text-decoration:none;
}

